button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #659a98;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbb;
  }